:root {
    --main-background:hsl(268, 75%, 9%);
    --keypad-background: hsl(268, 71%, 12%);
    --screen-background: hsl(0, 0%, 93%);
    --key-background:  hsl(281, 89%, 26%);
    --key-shadow: hsl(285, 91%, 52%);
    --key-background-toggle: hsl(176, 100%, 44%);
    --key-shadow1:hsl(177, 92%, 70%);
    --key-background1:hsl(268, 47%, 21%);
    --key-shadow2:hsl(290, 70%, 36%);
    --light-yellow:hsl(52, 100%, 62%);
    --very-dark-blue:hsl(198, 20%, 13%);
}

body {
    background-color: var(--main-background);
}

label, h6 {
    color: var(--light-yellow);
}

.header > h1 {
    color: var(--light-yellow);
}

.input {
    background-color: var(--keypad-background);
}

input:checked {
    background-color: var(--key-background-toggle);
}

.user-input {
    background-color: var(--keypad-background);
    color: var(--light-yellow);
}

.grid-container {
    background-color: var(--keypad-background);
}

.grid-container > button {
    background-color: var(--key-background);
    color: var(--light-yellow);
    box-shadow: 0 5px var(--key-shadow2);
}

button:nth-child(17), button:nth-child(4) {
    background-color: var(--key-background1);
    box-shadow: 0 5px var(--key-shadow);
    color: white;
}

button:nth-child(18) {
    background-color: var(--key-background-toggle);
    box-shadow: 0 5px var(--key-shadow1);
    color: var(--very-dark-blue);
}
